<!DOCTYPE html>
<html>

<head>
  <link href="./css/style.css" rel="stylesheet" media="screen">
</head>

<body>

  <div class="container col-md-12">
    <div class="row">
      <div class="col-md-7">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {{#each home}}
            <div class="carousel-item {{#unless @index}} active{{/unless}}">
              <img src={{{urlToImage}}} class="d-block w-100" alt="...">
            </div>
            {{/each}}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-md-5 position-sticky">
        <div class="flex-column">
          {{#each blog}}
            {{>blogcards}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>

  </br>

  <div class="flex-column">
    {{#each home}}
    <div class="card col-md-7">
      <div class="row">
        <div class="col-md-5">
          <br>
          <img src={{{urlToImage}}} alt="#" class="home-img">
          <h5 class="card-title">{{title}}</h5>
        </div>
        <div class="card-body col-md-7">
          <p class="card-text">{{description}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="/blog" class="btn btn-primary">Tell us your thoughts!</a>
          <a href={{url}} class="card-link">Read the article.</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</body>