<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          {{#each home}}
          <div class="carousel-item {{#unless @index}} active{{/unless}}">
            <img src={{{urlToImage}}} class="d-block w-100" alt="...">
          </div>
          {{/each}}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      </br>
      {{#each home}}
      <div class="row">
        <div class="col-md-5">
          <br>
          <img src={{{urlToImage}}} alt="#" class="home-img">
        </div>
        <div class="card-body col-md-7">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{description}}</p>
          <a href={{url}} class="card-link justify-content-end" id="article-link">Read the article >></a>
          <p class="card-text"><small class="text-muted">Last updated 1 min ago</small></p>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="col-md-5">
      <div class="most-recent">Recently On Nouvelle</div>
      <br>
      <div class="flex-column" id="blog-card">
        {{#each blog}}
        {{>blogcards}}
        {{/each}}
        <div class="card" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4" id="sign-up-body">
              <div class="card-body">
                <h5 class="card-title">Sign up today!</h5>
                <p class="card-text">Find your stage. Share Ideas. Raise Your Voice. </p>
              </div>
            </div>
            <div class="col-md-8">
              <img
                src="https://cdn.dribbble.com/users/59947/screenshots/7334768/media/76be5839c0d1bd32099c0b3f7f1c6eb1.jpg"
                class="card-img" id="sign-up-img" alt="...">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>