 {{#each sports}}
 <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{title}}</h1>
    <p class="lead">
       {{description}}
        <br/><br/>
        <img src = {{{urlToImage}}} class="img-fluid" src = {{{urlToImage}}} alt="Responsive image">
        <br/><br/>
       <a href={{url}} class="card-link">Full Article</a>
  </p>
  </div>
</div>
{{/each}}